:root:has(select option[value="dark"]:checked) {
    --primary-color: #383234;
    --primary-text: #F8F8FF;

    --secondary-color: #494F55;
    --secondary-text: #FDFCFA;

    --primary-background: #0d0c13;
    --secondary-background: #414A4C;

    --head-size: clamp(0.9em, 1.6vw, 1.15em);
    --font-fml: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body:has(select option[value="light"]:checked) {
    --primary-color: #F8F8FF;
    --primary-text: #383234;

    --secondary-color: #4d4d4d;
    --secondary-text: #e0e0e0;

    --primary-background: #ffffff;
    --secondary-background: #f2f2f2;

    --head-size: clamp(0.9em, 1.6vw, 1.15em);
    font-family: var(--font-fml);
}

a {
    color: var(--primary-text);
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav nav"
    "overview overview"
    "skills skills"
    "project project"
    "contact contact"
    "footer footer";

    padding: 3rem 3rem;
    min-height: 100vh;
    background: var(--primary-background);
}


.nav {
    font-size: var(--head-size);
    font-weight: 700;
    border: 2px solid var(--secondary-color);

    background: var(--primary-background);
    color: var(--primary-text);
}

.navbar {
    justify-content: end;
    padding: 0rem 1.8rem;
}

.navbar .nav-item:first-child {
    font-size: clamp(15px, 2.5vw, 27px);
    /* margin-right: auto; */
    flex-grow: 1;
    text-align: left;
}

.nav-item {
    /* align-self: center; ? */
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    margin: 0 1.2rem;
}

.nav-item select {
    padding: 0.4rem 0.7rem;
    border-radius: 3rem;
    background: var(--primary-background);
    color: var(--primary-text);
}

article {
    margin: 0rem 0rem;
}

.overview {
    /* justify-content: space-between; */
    gap: 1rem;
    animation: overview 2.5s 1 ease;
}

@keyframes overview {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.overview section {
    /* flex: 1 1 48%; */
    flex-grow: 1;
    flex-basis: 48%;

    padding: 1rem;
    border: 0.2em solid var(--secondary-color);
    border-radius: 1rem;
    background: var(--primary-background);
    color: var(--primary-text);
}

.overview section h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;

    background: linear-gradient(100deg, var(--primary-text), var(--secondary-text));
    background-clip: text;
    color: transparent;
}

.overview section h1>span {
    position: relative;
    display: inline-block;
    height: 1.15em;
    width: min(33rem, 100%);
    vertical-align: bottom;
    overflow: hidden;
    word-break: break-word;
}

.overview section h1>span span {
    background: linear-gradient(45deg, red, blue);
    background-clip: text;
    color: transparent;
}

.overview section h1>span>span {
    display: block;
    animation: animaworlds 5s infinite ease-out;
}

@keyframes animaworlds {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0%);
    }
}

.overview section p {
    line-height: 2.2rem;
    font-size: 1.15em;
    text-align: justify;
}
.navbutton{
    margin-top: 2rem;
}


.overview button {
    width: clamp(7rem, calc(8rem - 1vw), 7.5rem);
    height: clamp(2.5rem, calc(4rem - 1vw), 3rem);
    margin-right: 1rem;
    border: 2px solid var(--secondary-color);
    font-weight: 600;
    border-radius: 3rem;
    background: var(--primary-text);
    color: var(--primary-color);
    transition: border 0.3s ease-in, color 0.3s ease-in, border-radius 0.3s ease-in, background 0.3s ease-in;
}

.overview button:hover {
    border: 2px solid var(--secondary-color);
    color: var(--primary-text);
    border-radius: 3rem;
    background: var(--primary-color);
}

.overview section:last-child {
    text-align: center;
    box-sizing: border-box;
    height: max-content;
}

.overview section:last-child p {
    margin: 1rem auto;
    width: fit-content;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgba(34, 36, 40, 0.778);
    border-radius: 0.5rem;
    background: var(--primary-background);
}

.overview section:last-child>div span a {
    color: var(--primary-text);
}

.overview section:last-child div .card {
    /* flex-shrink: 1; */
    display: flex;
    justify-content: start;
    gap: 1rem;

    padding: 1rem;
    margin: 1rem 0rem;
    border: 2px solid rgba(34, 36, 40, 0.778);
    border-radius: 0.5rem;
    background: var(--primary-background);
    word-break: break-word;
    overflow-wrap: break-word;
}

.skills {
    color: var(--primary-text);
}

.skills h1 {
    font-size: clamp(1.25rem, 2.5vw, 1.7rem);
    text-align: center;
    margin: 1.5em 0em;
}

.technical {
    grid-template-columns: repeat(auto-fit, minmax(clamp(15rem, 17rem, 20rem), 1fr));
    gap: 1.5rem;
    grid-auto-rows: 1fr;
    /*makes all card same height in grid layout*/
}

.technical .box {
    border: 0.2em solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
    /* background: rgba(34, 36, 40, 0.5); */

    animation-name: boxTech;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes boxTech {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.technical .box h2 {
    margin-bottom: 1rem;
}

.projects {
    /* grid-template-columns: repeat(1, minmax(8rem, 1fr)); */
    grid-template-columns: minmax(7rem, 1fr);
    border: 0.2em solid var(--secondary-color);
    border-radius: 1rem;
    background: var(--secondary-background);
    grid-auto-columns: 1fr;
}

.project-item {
    border-radius: 1rem;
    gap: 0rem 1.5rem;
    margin: 1.75rem 1.5rem;
    justify-content: space-between;
    overflow: hidden;
    /*hive when animated*/
}

.project-item img,
.project-item video,
.project-item iframe {
    flex-grow: 1;
    /* flex-basis: 45%; */
    border-radius: 1rem;
    border: 0.15em solid var(--secondary-color);
    height: 23rem;
}

.project-item .demo,
.project-item .brief {
    flex-basis: 48%;
    flex-grow: 1;

}

.project-item .brief:nth-child(odd),
.project-item .demo:nth-child(odd) {
    animation: projectbrief 2.5s 1 ease;
}

.project-item .demo:nth-child(even),
.project-item .brief:nth-child(even) {
    animation: projectdemo 2.5s 1 ease;
}

@keyframes projectbrief {
    0% {

        transform: translateX(-50%);
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes projectdemo {
    0% {
        transform: translateX(50%);
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.project-item .brief h2 {
    font-size: xx-large;
    margin-bottom: 0.7rem;
}

.navtag {
    flex-shrink: 1;
}

.project-item p {
    font-size: large;
    font-weight: 500;
    /* text-align: center; */
    line-height: 2rem;
}

.tag {
    text-transform: uppercase;
    font-size: medium;
    margin: 0.8rem 1.2rem 0.8rem 0rem;
    padding: 0.4rem 0.5rem;
    border: 0.1rem solid var(--secondary-text);
    border-radius: 0.25rem;
    color: var(--primary-background);
    background: var(--primary-text);
}

.contact {
    color: var(--primary-text);
    overflow: hidden; /*hidden/remain scroll-y when animate*/
}

.contact h1 {
    font-size: clamp(1.25rem, 2.5vw, 1.7rem);
    text-align: center;
    margin: 1.5em 0em;
}

.contact fieldset {
    width: clamp(17.5rem, 62.5vw, 31.25rem);
    justify-self: center;
    border: none;
    border-top: 0.3rem solid var(--primary-text);
    padding: 2rem;
    background: var(--secondary-background);
    box-sizing: border-box;

    animation: contactform 2s 1 ease;
}

@keyframes contactform {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
}

.contact input,
.contact textarea,
.contact button{
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    box-sizing: border-box;

}

.contact input{
    padding: 0rem 0.5rem;
    margin: 0.8rem 0rem 1.5rem 0rem;
    height: 2rem;
}


.contact textarea{
    margin: 0.8rem 0rem 1.5rem 0rem;
    padding: 0.5rem;
    height: 9.375rem;
    max-height: 9.375rem;
    resize: none;
}

.contact button{
    font-size: medium;
    font-weight: 700;
    height: 2.75rem;
    border: 0.14rem solid var(--primary-text);
    color:  var(--primary-text);
    background: var(--secondary-background);
    transition: border 0.5s ease, color 0.5s ease, background 0.5s ease;
}

.contact button:hover{
    border: 0.14rem solid var(--primary-text);
    color:  var(--secondary-background);
    background: var(--primary-text);
    cursor: pointer;
}

footer {
    color: var(--primary-text);
    background: var(--primary-background);
    border-top: 2px solid var(--secondary-color);
    text-align: center;
    font-weight: 700;
    height: 4.5rem;
    align-content: center;
}