:root:has(select option[value="dark"]:checked) {
    --primary: #383234;
    --secondary: #7c7c7c;
    --background: #0d0c13;
    --accent: #fdfdff;
    --neutral: #222428;

    --head-size: calc(1em + 0.06598vw);
    --body-size: calc(0.9em + 0.06598vw);
    --sub-size: calc(18px * 1em);
    --caption-size: calc(12px * 1em);
    --footer-size: calc(12px * 1em);
    --button-size: calc(14px * 0.3em);

    --space-item: calc(1em * (1 + 0.5em));

    --font-fml: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body:has(select option[value="light"]:checked) {
    --primary: #eaeaea;
    --secondary: #b3b3b3;
    --background: #fdfdff;
    --accent: #0d0c13;
    --neutral: #f0f0f0;

    --head-size: calc(1em + 0.06598vw);
    --body-size: calc(0.9em + 0.06598vw);
    --sub-size: calc(18px * 1em);
    --caption-size: calc(12px * 1em);
    --footer-size: calc(12px * 1em);
    --button-size: calc(14px * 0.3em);

    --space-item: calc(1em * (1 + 0.5em));

    font-family: var(--font-fml);
}

a {
    color: var(--accent);
}

.container {
    padding: 3rem 3rem;
    /* height: 100%; */
    background: var(--background);
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    font-size: var(--head-size);
    font-weight: 700;
    border: 2px solid var(--secondary);

    background: var(--background);
    color: var(--accent);
}

.navbar {}

.nav-item {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    margin: 0 1.2rem;
}

.nav-item select {
    padding: 0.4rem 0.7rem;
    border-radius: 3rem;
    background: var(--background);
    color: var(--accent);
}

article {
    margin: 0rem 0rem;
}

.overview {
    justify-content: space-between;
    gap: 1rem;
}

.overview section {
    flex-grow: 1;
    flex-basis: 48%;
    max-width: 100%;
    padding: 1rem;
    border: 0.2em solid var(--neutral);
    border-radius: 1rem;
    background: rgba(34, 36, 40, 0.5);
    color: var(--accent);
}

.overview section h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;

    background: linear-gradient(100deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
}

.overview section h1>span {
    position: relative;
    display: inline-block;
    height: 1.15em;
    width: 27rem;
    vertical-align: bottom;
    overflow: hidden;
}

.overview section h1>span span {
    background: linear-gradient(45deg, red, blue);
    background-clip: text;
    color: transparent;
}

.overview section h1>span>span {
    display: block;
    animation: animaworlds 5s infinite ease-out;
}

@keyframes animaworlds {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0%);
    }
}


.overview section p {
    line-height: 2rem;
    font-size: 1em;
}

.overview button {
    width: clamp(7rem, 1vw, 9rem);
    height: clamp(2.5rem, 1vw, 3rem);
    margin-right: 1rem;
    margin-top: 2rem;
    border: 2px solid var(--accent);
    font-weight: 600;
    border-radius: 3rem;
    background: rgba(34, 36, 40, 0.5);
    color: var(--accent);
    transition: border 0.3s ease-in, color 0.3s ease-in, border-radius 0.3s ease-in, background 0.3s ease-in;
}

.overview button:hover {
    border: 2px solid var(--accent);
    color: var(--neutral);
    border-radius: 3rem;
    background: var(--accent);
}

.overview section:last-child {
    text-align: center;
    box-sizing: border-box;
    height: max-content;
}

.overview section:last-child p {
    margin: 1rem auto;
    width: fit-content;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgba(34, 36, 40, 0.778);
    border-radius: 0.5rem;
    background: var(--neutral);
}

.overview section:last-child>div span a {
    color: var(--accent);
}

.overview section:last-child div .card {
    /* flex-shrink: 1; */
    display: flex;
    justify-content: start;
    gap: 1rem;

    padding: 1rem;
    margin: 1rem 0rem;
    border: 2px solid rgba(34, 36, 40, 0.778);
    border-radius: 0.5rem;
    background: var(--neutral);
    word-break: break-all;
    overflow-wrap: break-word;
}

.skills {
    color: var(--accent);
}

.skills h1 {
    text-align: center;
    margin: 1.5em 0em;
}

.technical {
    grid-template-columns: repeat(auto-fit, minmax(clamp(15rem, 17rem, 20rem), 1fr));
    gap: 1.5rem;
    grid-auto-rows: 1fr;
    /*makes all card same height in grid layout*/
}

.technical .box {
    border: 0.2em solid var(--neutral);
    border-radius: 1rem;
    padding: 1rem;
    background: rgba(34, 36, 40, 0.5);

    animation-name: boxTech;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes boxTech {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.technical .box h2 {
    margin-bottom: 1rem;
}

.projects {
    /* grid-template-columns: repeat(1, minmax(8rem, 1fr)); */
    grid-template-columns: minmax(7rem, 1fr);
    border: 0.2em solid var(--neutral);
    border-radius: 1rem;
    background: rgba(34, 36, 40, 0.5);
    grid-auto-columns: 1fr;
}

.project-item {
    border-radius: 1rem;
    gap: 0rem 1.5rem;
    margin: 1.5rem 1.5rem;
    justify-content: center;
}

.project-item img,
.project-item video,
.project-item iframe,
.project-item p {
    flex-grow: 1;
    /* flex-basis: 45%; */
    border-radius: 1rem;
    border: 0.2em solid var(--neutral);
    height: 30rem;
}

.project-item p {
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    line-height: 30rem;
}

footer {
    color: var(--accent);
    background: var(--background);
    border-top: 2px solid var(--secondary);
    text-align: center;
    font-weight: 700;
    height: 5.5rem;
    align-content: center;
    /* line-height: 5.5rem; */
}